body{
    background-color: dodgerblue;
    color: darkred;
}

img{
    display: block;
    margin: 0 auto;
}

#divCentral{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
}